.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(155, 148, 148);
  color: aliceblue;
}
.pages{
  width: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
